/* シンプルなスタイル */
html,
body {
  margin: 0;
  padding: 0;
  background: #0e0f17;
  color: #fff;
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 100%;
}
#canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
